/*
sta.css - basic purple theme
Created by: Kevin Robell <apainintheneck@gmail.com> 2020
Github: https://github.com/apainintheneck/sta.css
*/
:root {
    /* .body */
    --body-bg-color: #f1f1ff;
    --font: Arial, Helvetica, sans-serif;

    /* .nav, .footer */
    --nf-bg-color: #c3c5ec;

    /* .nav */
    --nav-txt-color: #35087c;

    /* .btn */
    --btn-bg-color: #bcd4e6;
}
