:root {
    /*.stac-body*/
    --body-bg-color: #f1f1ff;
    --font: Arial, Helvetica, sans-serif;
    
    /* .stac-nav, .stac-footer */
    --nf-bg-color: #c3c5ec;
    
    /* .stac-nav */
    --nav-txt-color: #35087c;
    
    /* .stac-box code */
    --code-bg-color: #e2e5eb;
    
    /* .stac-btn */
    --btn-bg-color: #bcd4e6;
}