@import "config-sta.css";

/* Body now has a background color of light purple, all content is centered, and text uses the font Arial. */
.stac-body {
    background-color: var(--body-bg-color);
    text-align: center;
    font-family: var(--font);
}

.stac-header {
    text-align: center;
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Links in navegation bar are now purple. */
.stac-nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--nav-txt-color);
}

/* Underline hovered links in the navegation bar. */
.stac-nav a:hover {
    border-bottom: 2px var(--nav-txt-color) solid;
}

.stac-footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Changed the background color to light purple */
.stac-nav, .stac-footer {
    background-color: var(--nf-bg-color);
    max-width: 850px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.stac-box {
    text-align: left;
    padding: 15px;
    border-radius: var(--box-radius);
    background-color: white;
    margin: auto;
    margin-bottom: var(--box-margin);
    margin-top: var(--box-margin);
}

.stac-box h1, .stac-box h2 {
    text-align: center;
}

.stac-img {
    margin-bottom: var(--img-margin);
    margin-top: var(--img-margin);
    border-radius: var(--img-radius);
}

/* Made all buttons light green with a grey rounded border.  */
.stac-btn {
    background-color: var(--btn-bg-color);
    border-radius: 20px;
    max-width: 300px;
    font-size: 1.3em;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
}

.stac-btn:hover {
    opacity: 0.9;
    border-right: 2px black solid;
    border-left: 2px black solid;
}

/* Made text within code tags larger and added a light gray backround. */
.stac-box code {
    background-color: var(--code-bg-color);
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1.2em;
}

/*Add small shadow to everything. */
.stac-box, .stac-img-shadow, .stac-btn, .stac-nav, .stac-footer {
    box-shadow: 2px 2px 5px #888888;
}

/*stac item width*/
.stac-w5 {
    max-width: 775px;
}

.stac-w4 {
    max-width: 700px;
}

.stac-w3 {
    max-width: 625px;
}

.stac-w2 {
    max-width: 550px;
}

.stac-w1 {
    max-width: 475px;
}