/* Body now has a background color of light purple, all content is centered, and text uses the font Arial. */
.stac-body {
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f1f1ff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.stac-header {
    text-align: center;
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Links in navegation bar are now purple. */
.stac-nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.5em;
    text-decoration: none;
    color: #35087c;
}

/* Underline hovered links in the navegation bar. */
.stac-nav a:hover {
    border-bottom: 2px #35087c solid;
}

.stac-footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Changed the background color to light purple */
.stac-nav, .stac-footer {
    background-color: #c3c5ec;
}

.stac-box {
    text-align: left;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.stac-box h1, .stac-box h2 {
    text-align: center;
}

.stac-img {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

/* Made all buttons light green with a grey rounded border.  */
.stac-btn {
    background-color: #bcd4e6;
    border-radius: 20px;
    max-width: 300px;
    font-size: 1.3em;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
}

.stac-btn:hover {
    opacity: 0.8;
}

/* Made text within code tags larger and added a light gray backround. */
.stac-code {
    background-color: #e2e5eb;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 1.2em;
    
}

/*Add small shadow to everything. */
.stac-box, .stac-img-shadow, .stac-btn {
    box-shadow: 2px 2px 5px #888888;
}

/*stac item width*/
.stac-w5 {
    max-width: 775px;
}

.stac-w4 {
    max-width: 700px;
}

.stac-w3 {
    max-width: 625px;
}

.stac-w2 {
    max-width: 550px;
}

.stac-w1 {
    max-width: 475px;
}